# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python 
2.R
3.julia
4.scala
5.c++

Some of the commonly used libraries used by Data Scientists include:

1.numpy 
2.pandas
3.matplotlib
4.ggplot
5.caret
6.dplyer

In [3]:
import pandas as pd 
import numpy as np

In [7]:
df=pd.DataFrame({"Data Science Tools":["Data managment tools","Data extraction and transformation","data visulatiozation","data deployment","data maintanance"]})
df

                   Data Science Tools
0                Data managment tools
1  Data extraction and transformation
2                data visulatiozation
3                     data deployment
4                    data maintanance

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
5+7

12

In [9]:
25-65

-40

In [11]:
90+32

122

In [15]:
# multiply and add numbers
(3*4)+5,
(3*9)+4,
(6*2)+9

21

In [17]:
# minutes to hours 
# 200 minutes to hour 
cd=200/60
print(cd,"hours")

3.3333333333333335 hours

Objective of notebook

1. to learn Data science tools
2. to learn data science libraary
3. to lesrn Data science languages 
4. to learn about git
5. to learn how to work on Git

## Author 
Sandeep Kumar singh